<!DOCTYPE html>
<html>
<head>
    <title>Message Sent</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="success-container">

    <div class="success-card">
        <h1>📩 Message Sent!</h1>

        <p>Thank you, <strong>{{name}}</strong> 👋</p>
         <p><strong>{{ phone }}</strong></p>
        <p>Your message has been successfully sent.</p>
        <p>Our team will contact you soon.</p>

        <div class="success-actions">
            <a href="/">Go Home</a>
            <a href="/contact">Send Another</a>
        </div>
    </div>

</div>

</body>
</html>